@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media screen and (max-width: 375px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 375px or smaller */

body {
	background-color: hsl(257, 40%, 49%);
	background-image: url(file:///Users/mac/Desktop/huddle-landing-page-679023-master/images/bg-desktop.svg);
	background-repeat: repeat-y; 
	position: fixed;
    left : 20px;
	}

h1 {
	font-family: 'Poppins', sans-serif;
	color: white;
	text-align: left;
	font-size: 30px;
	padding-right: 100px;
	position: relative;
	bottom: 500px;
	left: 700px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 15px;
	text-align: left;
	position: relative;
bottom: 500px;
left: 700px;

}
.logo {
	padding: 10px 0px 10px 0px;
	margin-bottom: 180px;


}
.img {
  display: block;
  position: relative;
  bottom: 100px;
    right: 10px;
}

button {
border-radius: 25px;
padding: 14px 60px;
background-color: white;
color: hsl(257, 40%, 49%);
font-weight: 800px;
position: left;
position: relative;
bottom: 500px;
left: 700px;
}
